* {
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 3.5rem;
  max-width: 34%;
  color: blue;
  border: 3mm ridge rgba(35, 12, 241, 0.993);
  box-sizing: border-box;
  border-radius: 1rem;
  background: linear-gradient(to bottom, lightblue, 40%, steelblue);
}

.calculette {
  display: flex;
  flex-direction: column;
}

.ecran {
  background: linear-gradient(to bottom, rgb(127, 214, 86), 50%,#53b62c);
  padding-right: 10px;
  text-align: right;
  border: thick double #89db53;
  border-radius: 0.5rem;
  background-color: #53b62c;
  min-height: 80px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: darkslategrey;
}

#ecran1,
#ecran2 {
  min-height: 37px;
}

button {
  box-shadow: 3px 3px black;
  margin: 3px;
  box-sizing: border-box;
  border-radius: 0.8rem;
  background-color: #230cf1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: white;
  line-height: 1.7rem;
  min-width: 5rem;
  min-height: 3rem;
}

.chiffre {
  background-color: #e83bff;
  color: black;
  font-size: 1.8rem;
}